/Colegio/build/
/Colegio/dist/
/PruebaRapida/nbproject/private/
/PruebaRapida/build/
/PruebaRapida/dist/
/Colegio/nbproject/private/
/JavaApplication13/nbproject/private/
/Prueba/nbproject/private/
/Prueba/build/
/Prueba/dist/
/JavaApplication15/nbproject/private/
/JavaApplication15/build/
/Tabla/nbproject/private/
/Tabla/build/
/Proyecto/nbproject/private/
/Proyecto/build/
/JavaApplication19/nbproject/private/
/Trabajo/nbproject/private/
/Trabajo/dist/
/Trabajo/build/
